# YouTube Downloader Config
# Add your Apify Token here for search/info fallbacks
APIFY_TOKEN=

# RapidAPI YouTube Downloader Fallback
RAPIDAPI_KEY=
RAPID_API_HOST=cloud-api-hub-youtube-downloader.p.rapidapi.com
